body { font-family: sans-serif; background-color: #f4f6f8; margin: 0; }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}
.navbar {
    width: 100vw;
    padding: 15px 40px;
    background: #0d1b3d; /* same as header */
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    
}

/* Left side */
.nav-left {
    display: flex;
    align-items: center;
    gap: 12px;
}

.menu-icon {
    font-size: 20px;
    cursor: pointer;
}

.logo {
    font-size: 20px;
    font-weight: 600;
}

/* Right side */
.nav-right {
    display: flex;
    align-items: center;
    gap: 25px;
}

.nav-right a {
    text-decoration: none;
    color: #cbd5e1;
    font-size: 14px;
    padding: 8px 14px;
    border-radius: 8px;
    transition: 0.2s;
}

/* Active button */
.nav-right a.active {
    background: #3b82f6;
    color: white;
}

/* Hover */
.nav-right a:hover {
    background: rgba(255,255,255,0.1);
    color: white;
}

.dots {
    font-size: 20px;
    cursor: pointer;
} 


/* Grid Layout */
.grid-container { display: grid; grid-template-columns: repeat(3, 1fr); gap: 25px; padding: 40px; }

/* Cards */
.card { background: white; border-radius: 8px; overflow: hidden; box-shadow: 0 4px 6px rgba(0,0,0,0.1); transition: transform 0.3s ease; }
.card:hover { transform: translateY(-5px); box-shadow: 0 8px 12px rgba(0,0,0,0.2); }

.card-header { background: #3b82f6; color: white; padding: 15px; font-weight: bold; }
.card-body { padding: 10px; display: flex; flex-direction: column; align-items: center;height: 80; }
.card-image img { width: 100%; height: 80px; object-fit: cover; height: auto; margin-bottom: 10px; }
.card-body ul { width: 100%; padding-left: 20px; color: #334155; }